@model Emarketing.Models.tb_category

@{
    ViewBag.Title = "Create Category";
}

<h2>Create Category</h2>

@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new {enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("Category Name", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.cat_name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.cat_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    @Html.Label("Category Image:", new { @class = "control-label col-md-2" })

    <input type="file" name="imgfile" id="imgfile" class="form-control" required="required" />

    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Create Category</button>
        </div>
    </div>




    @section Scripts {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    }

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

}