@model Emarketing.Models.tb_admin

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("Username", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ad_username, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ad_username, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">

        @Html.Label("Password", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ad_password, new { @class = "form-control" })
            @*@Html.ValidationMessageFor(m => m.ad_password, "", new { @class = "text-danger" })*@
            @Html.ValidationMessageFor(m => m.ad_password, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
    <p style="color:red">@ViewBag.error</p>
    
    
    
    @section Scripts {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    }

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


}